* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Syne", sans-serif;
    list-style: none;
    text-decoration: none;
}

body {
    height: 100vh;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 10001;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFE9ED;
}

.logo {
    max-width: 100%;
    width: 100%;
    height: auto;
}

.navbar {
    display: flex;
    align-items: center;
    background: linear-gradient(rgba(233, 142, 6, 0.795), 50);
}

.navbar a {
    color: #080808;
    font-size: 18px;
    font-weight: 600px;
    letter-spacing: 0.2px;
    text-transform: capitalize;
    margin: 0 20px;
    padding: 2px;
    border-bottom: 2px solid transparent;
    transition: all .42s;
}

.navbar a:hover {
    color: #FFB646;
    border-bottom: 2px solid #FFB646;
}

#menu-icon {
    font-size: 35px;
    color: #080808;
    cursor: pointer;
    margin-left: 10px;
    display: none;


}

/* Resposiveness */

@media(max-width:1340px) {
    header {
        padding: 30px 4%;
        transition: .3s;
    }
}

@media(max-width:1260px) {}

@media(max-width:1105px) {}

@media(max-width:940px) {
    header {
        background-color: #FFE9ED;
        padding: 20px 4%;
    }
}

@media(max-width:800px) {}

@media(max-width:600px) {}

@media(max-width:960px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 300px;
        height: 100vh;
        padding: 100px 40px;
        display: block;
        flex-direction: column;
        background-color: #080808;
        transition: all .42s ease-in-out;
    }

    .navbar a {
        display: block;
        color: #FFf;
        margin: 30px 0;
        font-size: 24px;
    }

    .navlist a:hover {
        transform: translateX(5px);
        border-bottom: 2px solid transparent;
    }

    .navbar.open {
        right: 0;
    }
}