* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
    list-style: none;
    text-decoration: none;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 10001;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 12%;
}

.logo img {
    max-width: 100%;
    width: 150px;
    height: auto;
}

.navlist {
    display: flex;
    align-items: center;
}

.navlist a {
    color: #212121;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px 25px;
    transition: all .42s;
}

.navlist .active {
    color: #646464;
}

.navlist a:hover {
    color: #fff;
    transform: translateX(5px);

}

#menu-icon {
    font-size: 35px;
    color: #212121;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

/* Hero Section */

section {
    padding: 60px 12%;
}

.hero {
    width: 100%;
    height: 100vh;
    padding: 150px;
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 4rem;
    background: linear-gradient(245.59deg, #61f38d 0%, #68fda6 28.53%, #60f385 75.52%);
}


.hero-img {
    position: relative;
    margin-left: 20px;
}

.hero-img img {
    max-width: 100%;
    width: 500px;
    height: auto;
}

.img1 {
    position: absolute;
    top: 0;
    z-index: 4;

}

.img2 {
    position: relative;
    top: -20px;
    left: -20px;
    z-index: 5;
    transition: .3s;

}

.hero-img:hover .img2 {
    /* top: 0px; */
    /* left: 0px; */
    transform: scale(1.3);

}

.hero-text h1 {
    color: #36455c;
    font-size: 65px;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 1.2;
    margin: 10px 0;
}

.hero-text p {
    max-width: 520px;
    color: #666;
    font-size: 16px;
    font-weight: 400px;
    line-height: 30px;
    margin: 0 0px 30px;
}

.hero-btn {
    display: inline-block;
    background: #37806B;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    padding: 10px 30px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    transition: all .42s;
}

.hero-btn:hover {
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
}


/* header-sticky-design */

header.sticky {
    background-color: rgb(231, 176, 74);
    padding: 14px 12%;
    box-shadow: 0px 4px 15px rgb(0 0 0/ 8%);
    transition: all .42s;
}

/* programs */
.programs {
    background: #f1f1f1;
}

.main-programs {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;

}

.program-img {
    position: relative;
}

.program-img img {
    max-width: 100%;
    width: 450px;
    height: auto;
}

.prog1 {
    position: absolute;
    top: 0;
    z-index: 5;
}

.prog2 {
    position: relative;
    top: 20px;
    left: 20px;
    transition: .3s;
    z-index: 6;
}

.program-img:hover .prog2 {
    /* top: 0; */
    /* left: 0; */
    transform: scale(1.3);
}

.program-text h4 {
    font-size: 18px;
    font-weight: 500;
    color: #666;
    text-transform: uppercase;
    margin-bottom: 10px;

}

.program-text h1 {
    color: #212121;
    font-weight: 500;
    font-size: 40px;
    text-transform: capitalize;
    line-height: 60px;
    margin-bottom: 15px;
}

.program-text p {
    color: #646464;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;

}

.program-btn {
    display: inline-block;
    /* background: #37806B; */
    background: #4d9559;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    border: 1px solid transparent;
    padding: 10px 30px;
    border-radius: 30px;
    /* border-bottom-right-radius: 15px; */
    /* border-top-left-radius: 15px; */
    transition: all .42s;
}

.program-btn:hover {
    color: #646464;
    background: transparent;
    border: 1px solid #4d9559;
    transform: translateX(8px);
}

/* Testimonial sectoin */


.cnt-text h4 {
    color: #666;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    line-height: 30px;
}

.cnt-text h2 {
    color: #212121;
    font-size: 40px;
    font-weight: 500;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 50px;
}

.main-thumb {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
    gap: 2rem;
}

.thumb {
    display: flex;
    gap: 2rem;
    align-items: center;
    padding: 20px 20px;
    background: #f8f4f4;
    box-shadow: rgba(100, 100, 111, 0.2) 0px, 7px, 29px 0px;
    border-bottom-right-radius: 70px;
    border-top-left-radius: 70px;
    transition: .3s;
}

.thumb-img img {
    width: 120px;
    height: auto;
}

.thumb-text h4 {
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 8px;
}

.thumb-text p {
    color: #646464;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}

.thumb:hover {
    border-top-left-radius: 0px;
}

/* Events section */

.events-text {
    text-align: center;
}

.events-text h4 {
    color: #666;
    font-size: 20px;
    font-weight: uppercase;
    text-transform: uppercase;
    line-height: 28px;
}

.events-text h2 {
    color: #646464;
    font-size: 40px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.events {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
    gap: 8rem;
    align-items: center;
}

.main-events {
    overflow: hidden;
}

.main-events img {
    max-width: 100%;
    width: 550px;
    height: auto;
    transition: all .42s;
}

.main-events img:hover {
    transform: scale(1.1);
}

.events h2 {
    color: #212121;
    font-size: 30px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 20px 0px 10px 0px;

}

.events p {
    max-width: 540px;
    color: #646464;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 20px;
}

/* Contact section */

.contact {
    background-color: #f8f8f8;
}

.contact-info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, auto));
    gap: 2.5rem;
}

.info1 img {
    max-width: 100%;
    width: 145px;
    height: auto;
    margin-bottom: 10px;
}

.contact-info h4 {
    color: #212121;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
    text-transform: capitalize;
}

.contact-info p {
    color: #646464;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 6px;
    cursor: pointer;
    transition: all .42s;
}

.contact-info p:hover {
    color: #60f385;
    transform: translateX(-5px);
}

.info-socials {
    position: absolute;
}

.info-socials i {
    color: #212121;
    font-size: 20px;
    width: 40px;
    height: 40px;
    background: #d5d5d5;
    border: 1px solid #d5d5d5;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 8px 15px 0 0;
    transition: all .42s;

}

.info-socials i:hover {
    background: #60f385;
    color: #fff;
}

.footer {
    background-color: #212121;
    padding: 20px 0;
}

.footer-text p {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-align: center;

}


/* about section */
.about {
    width: 100%;
    align-items: center;
    /* height: 100vh; */
    padding: 150px;
    background: linear-gradient(245.59deg, #61f38d 0%, #68fda6 28.53%, #60f385 75.52%);
}

.about-heading h1 {
    font-size: 50px;
    color: #000;
    margin-bottom: 25px;
    position: relative;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 30px;

}

.about-heading p {
    /* font-size: 18px;
    color: #666;*/
    margin-bottom: 35px;
    color: #212121;
    font-size: 40px;
    font-weight: 500;
    text-transform: capitalize;
    text-align: center;
    /* margin-bottom: 50px; */
}

.main-about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.about-img {
    position: relative;
    margin-left: 20px;
}

.about-img img {
    max-width: 100%;
    width: 540px;
    height: auto;
}

.about-img:hover img {
    /* top: 0px; */
    /* left: 0px; */
    transform: scale(1.3);

}

.about-text p {
    max-width: 600px;
    color: #666;
    font-size: 16px;
    font-weight: 400px;
    line-height: 30px;
    margin: 0 0px 30px;
}

.about-text h2 {}

/* .about-heading h1::after {
    content: "";
    position: absolute;
    width: 10%;
    height: 4px;
    margin: 0 auto;
    display: block;
    align-items: center;
    text-align: center;
    background-color: #4caf50;
} */


/* Responsiveness */

@media (max-width: 1400px) {
    header {
        padding: 30px 5%;
        transition: .3s;
    }

    section {
        padding: 50px 5%;
        transition: .3s;
    }

    .header.sticky {
        padding: 15px 5%;
        transition: .3s;
    }
}

@media (max-width: 1185px) {
    .hero-text h1 {
        font-size: 58px;
        transition: .3s;
    }

    .about-text p,
    .hero-text p {
        margin: auto;
    }

    .program-btn {
        margin-top: 25px;
    }

    .main-about {
        grid-template-columns: 1fr;
    }

    .about-text {
        text-align: center;
    }

    .about-img {
        text-align: center;
    }
}


@media (max-width: 1080px) {
    .hero-text h1 {
        font-size: 48px;
        transition: .3s;
    }

    .hero-text h4 {
        font-size: 17px;
        transition: .3s;
    }

    .main-about {
        grid-template-columns: 1fr;
    }

    .about-text {
        text-align: center;
    }

    .about-img {
        text-align: center;
    }

}

@media (max-width: 980px) {

    .main-about,
    .hero {
        grid-template-columns: 1fr;
        height: 100%;
    }

    .about-text,
    .hero-text {
        text-align: center;
        margin-top: -30px;
    }

    .hero-img {
        text-align: center;
    }

    .main-thumb {
        display: inline;
    }

    #tp-thumb {
        margin-bottom: 40px;
    }

    .events {
        gap: 4rem;
    }

    .events p {
        margin-bottom: 8px;
    }
}

@media (max-width: 1175px) {
    .main-programs {
        grid-template-columns: 1fr;
        height: 100%;
    }

    .program-img {
        text-align: center;

    }

    .program-text {
        text-align: center;
        margin: 20px 0px 0px 0px;
    }
}

@media (max-width: 580px) {
    .program-text h1 {
        font-size: 30px;
        transition: .3s;
        line-height: 45px;
    }

    .program-img img {
        width: 300px;
        height: auto;
    }

    .cnt-text h2 {
        font-size: 32px;
        transition: .3s;
    }

    .info1 {
        margin-bottom: 55px;
    }

    .footer-text p {
        font-size: 16px;
        transition: .3s;
    }
}

@media (max-width: 940px) {
    #menu-icon {
        display: block;
    }

    .navlist {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 300px;
        height: 100vh;
        background-color: oldlace;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 80px 30px;
        transition: all .42s;
    }

    .navlist a {
        font-size: 18px;
        color: #000;
        display: block;
        margin: 10px 0;
    }

    .navlist a:hover {
        transform: translateX(-5px);
        transition: .3s;
    }

    .navlist.open {
        right: 0;
    }
}