{% extends 'client/base.html' %}

{% block content %}
<section class="programs-sc">
    <h1 class="programs-tt">Programs</h1>
    {% for program in programs %}
    <div class="programs">
        {% if loop.index % 2 == 1 %}
        <div class="programs-text">
            <h1>{{ program.title }}</h1>
            <p>{{ program.content }}</p>
        </div>
        <div class="programs-imgs">
            <img src="{{ url_for( 'static', filename=program.image_file ) }}">
        </div>
        {% else %}
        <div class="programs-imgs">
            <img src="{{ url_for( 'static', filename=program.image_file ) }}">

        </div>

        <div class="programs-text">
            <h1>{{ program.title }}</h1>
            <p>{{ program.content }}</p>
        </div>

        {% endif %}

    </div>
    {% endfor %}
</section>


{% endblock %}