<section class="latest-events">
    <div class="events-text">
        <h4>Event section</h4>
        <h2>Latest Events</h2>
    </div>
    <div class="events">
        <div class="main-events">
            <img src="{{ url_for('static', filename='images/News-img1.png')}}">
            <h2>Burnaby Barbecue</h2>
            <p>Sports Camp Sports camps are a great way to get your kids
                active and entertained. Here are some of the benefits of having a
                sports camp program</p>
            <a href="#" class="program-btn">More on Event</a>
        </div>
        <div class="main-events">
            <img src="{{ url_for('static', filename='images/News-img1.png')}}">
            <h2>Burnaby Barbecue</h2>
            <p>Sports Camp Sports camps are a great way to get your kids
                active and entertained. Here are some of the benefits of having a
                sports camp program</p>
            <a href="#" class="program-btn">More on Event</a>
        </div>

    </div>
</section>