<section class="hero">
    <div class="hero-img">
        <img src="{{ url_for('static', filename='images/hero.jpg')}}">
    </div>
    <div class="hero-text">
        <h2>INUA COLLECTIVE SOCIETY</h2>
        <p>is a non-profit organization with
            operations in the BC Lower mainland. INUA is a Swahili word which
            translates to elevate or uplift. INUA Collective society strives to
            elevate and up-skill the welfare of BIPOC and other racialized
            communities in BC lower mainland.</p>
        <a class="about-new-more" href="#">Learn More</a>
    </div>


</section>