<section class="hero">
    <div class="hero-text">
        <h1>INUA COLLECTIVE SOCIETY</h1>
        <p>is a non-profit organization with
            operations in the BC Lower mainland. INUA is a Swahili word which
            translates to elevate or uplift. INUA Collective society strives to
            elevate and up-skill the welfare of BIPOC and other racialized
            communities in BC lower mainland.</p>
        <a class="program-btn" href="{{ url_for('client.about_us')}}">Learn More</a>
    </div>
    <div class="hero-img">
        <!-- <img class="img1" src="{{ url_for('static', filename='images/Rectangle.png')}}"> -->
        <img class="img2" src="{{ url_for('static', filename='images/hero.jpg')}}">
    </div>
</section>