{% extends 'layout.html' %}

{% block content %}
   
    <section class="programs" style="margin-top:70px;">
        {% for program in programs %}
            <div class="{% if loop.index is divisibleby 2 %}even{% else %}odd{% endif %}">
                <h1>{{ program.title }}</h1>
                <p>{{ program.description }}</p>
                {% if program.picture %}
                    <img src="{{ program.picture }}" alt="program picture">
                {% endif %}
            </div>
            {% endfor %}
    </section>
    
{% endblock %}
