<section class="testimonial">
    <div class="cnt-text">
        <h4>testimonials</h4>
        <h2>Feedback from public</h2>
    </div>
    <div class="main-thumb">
        <div class="thumb" id="tp-thumb">
            <div class="thumb-img">
                <img src="{{ url_for('static', filename='images/left-img.png')}}">
            </div>
            <div class="thumb-text">
                <h4>Ruto Must Go</h4>
                <p>Artists are essential to society, and their professional
                    development is crucial for their success. </p>
            </div>
        </div>
        <div class="thumb" id="tp-thumb">
            <div class="thumb-img">
                <img src="{{ url_for('static', filename='images/right-img.png')}}">
            </div>
            <div class="thumb-text">
                <h4>Ruto Must Go</h4>
                <p>Artists are essential to society, and their professional
                    development is crucial for their success. </p>
            </div>
        </div>
</section>